.reply button{
    font: bold 17px/20px $font-base;
    
    border: none;
    border-radius: 10px;

    padding-inline-start: 70px;
    padding-inline-end: 70px;
    padding-block-start: 15px;
    padding-block-end: 15px;

    &:hover{
        cursor: pointer;
    }

    &.true{
        color: $white;
        background-color: $true-green;
    }
    &.false{
        color: $white;
        background-color: $false-red;
    }
}
.start_button{
    font: bold 17px/20px $font-base;

    position: relative;
    cursor: pointer;
   
    width: 200px;
    height: 100px;

    background-color: rgb(222, 220, 255);
    
    border: 1px solid black;
    border-radius: 10px;

    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(76, 74, 194);
    
        border: 1px solid black;
        border-radius: 10px;
        transform: translate3d(0, 0.75em, -1em);
        z-index: -1;
    }

    &:active{
        transform: translate(0em ,0.75em);
        
    }

    &:active::before{
        background-color: rgb(222, 220, 255);
    
        transform: translate3d(0, 0, -1em);
    }
}